PORT=7000
NODE_ENV=development

API_PREFIX=/api

FRONTEND_URL=http://localhost:3000

MONGODB_URI=mongodb://localhost:27017/operon
POSTGRES_URL=postgresql://postgres:postgres@localhost:5432/operon
REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=super_access_secret
JWT_REFRESH_SECRET=super_refresh_secret

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

LOG_LEVEL=debug



DATABASE_URL="prisma+postgres://localhost:51213/?api_key=*********



SUPABASE_URL=sb_publishable_********
SUPABASE_SERVICE_ROLE_KEY=sb_secret_********

